/* font-family */

p {
  font-family: Arial;
}

h1 {
  font-family: Georgia;
}

/* font-size */

body {
  font-size: 10px;
}

h1 {
  font-size: 5.0em;
}

p {
  font-size: 2.0em;
}

span {
  font-size: 2.0em;
}

/* font-weight */

p {
  font-weight: normal;
}

/* line-height */

p {
  /* line-height: 1.5; */
  line-height: 100px;
}

/* text-align */

h1 {
  text-align: right;
}

p {
  text-align: center;
}

/* text-decoration */

p {
  text-decoration: underline;
}

h1 {
  text-decoration: line-through;
}