h1 {
  color: rgba(0, 200, 100, 0.8);
  /*border-color: purple;
  border-width: 5px;
  border-style: solid;*/

  border: 2px solid rgb(255, 100, 80);
}

/*width
color
style*/

h4 {
  background: rgb(255, 100, 80);
}

body {
  background: pink;
  /*background: url(https://pre00.deviantart.net/f3cd/th/pre/i/2011/121/8/a/drawn_wood_grain_texture_by_german_popsicle-d3fdjmd.jpg);
  background-repeat: no-repeat;
  background-size: cover;*/
}