/* div {
  width: 100px;
  float: left;
}

#one {
  background-color: red;
}

#two {
  background-color: purple;
} */



body {
  font-family: 'Raleway', sans-serif;
}

img {
  width: 30%;
  float: left;
  margin: 1.66%;
}

p {
  margin-left: 1.66%;
  font-size: 23px;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  padding-bottom: 20px;
}