h1 {
  text-align: center;
}

table {
  width: 50%;
  border-collapse: collapse;
}

td {
  width: 16.667%;
  border: 2px solid gray;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

td:nth-of-type(2) {
  border-top-color: transparent;
}

td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}